@model BlogPostComment

<li class="comment @(Model.ParentId !=null?"com-reply":"")" id="c-@Model.Id" data-comment-id="@Model.Id">
    <div class="media">
        <div class="media-left">
            <div class="avatar"><img src="images/avatar-2.jpg" alt=""></div>
        </div>
        <div class="media-body">
            <div class="a-com">
                <span class="a-name ">@($"{Model.CreatedByUser?.Name} {Model.CreatedByUser?.Surname}")</span><span class="date">@Model.CreatedDate.ToString("MMMM d,yyyy HH:mm")</span>
                <p class="margin-top-20">
                    @if(Model.ParentId != null)
                    {
                    <a href="#c-@Model.ParentId">@@@Model.Parent.CreatedByUser?.Name</a>
                    }
                    @Model.Text.ToPlainText();
                </p>
                <a class="text-right btn-comment-reply"> REPLAY <i class="fa fa-reply"></i></a>
            </div>
        </div>
    </div>
</li>

